@model PartsCatalog.Models.Make

@{
    ViewBag.Title = "Edit Make";
    Layout = "~/Views/LayoutPage.cshtml";
}

<div class="action-result">@TempData["Message"]</div>
@Html.ActionLink("Back", "List")
@using (Html.BeginForm("Edit", "Makes", FormMethod.Post, new {enctype = "multipart/form-data" }))
{
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        <legend>Make</legend>
        <div>Name</div>
        @Html.EditorFor(model => model.Name)
        <div>Logo</div>
        @if (Model.Image != null)
        {
            <img class="make-logo-preview" src="@Url.Content(PartsCatalog.Models.Make.ImagesPath + Model.Image)" />
        }
        <p>
            <input type="file" name="file" accept="image/*" />
        </p>
        <p class="button-container">
            <input type="submit" value="Save" class="button"/>
            <input type="button" value="Delete" class="button" onclick="window.location.href='@Url.Action("Delete", new { makeId = Model.Id})';" @(Model.Id == 0 ? "disabled" : "")/>
        </p>
    </fieldset>
}