@model IEnumerable<PartsCatalog.Models.Model>

@{
    ViewBag.Title = "Models";
    Layout = "~/Views/LayoutPage.cshtml";
}

<div class="models-container">
    <div>
        @Html.ActionLink("Back", "List", "Makes")
        @Html.ActionLink("Add", "Add", new { makeId = ViewBag.MakeId }, new { @class = "add-model" })
    </div>
    @foreach (var item in Model)
    {
        <div class="model">
            <div class="model-name">@(item.Name + " (" + item.ProductionStart + "-" + item.ProductionEnd + ")")</div>
            <div class="model-images">
                @{var images = item.GetImages();}
                @if (images != null)
                {
                    foreach (var image in images)
                    {
                        <img src="@Url.Content(PartsCatalog.Models.Model.ImagesPath + image)" class="model-image"/>
                    }
                }
            </div>
            @Html.ActionLink("Edit", "Edit", new { makeId = item.Make.Id, modelId = item.Id }, new { @class = "edit-model" })
        </div>          
    }
</div>
